{% extends 'opinion/base.html' %}
  
 
{% block title %}
<title>User Message</title>
{% endblock %}


{% block body %}

<h5 class="signup-t" style="text-align: center; color:red;">{{m}}</h5>

<h4 class="signup-t">Sign up to CodersPoint's Academy</h4>

<div class="form-control signup">
  
<form class="form-control" method="POST" action="" enctype="multipart/form-data">
  
  {% csrf_token %}
 
  
<p>{{form.username.label }}</p>
<p>{{form.username}}</p>
  <hr>   <p>{{form.first_name.label }}</p>
<p>{{form.first_name}}</p>
  <hr>   <p>{{form.last_name.label }}</p>
<p>{{form.last_name}}</p>
  <hr>  <p>{{form.email.label }}</p>
<p>{{form.email}}</p>
  <hr>  <p>{{form.password1.label }}</p>
<p>{{form.password1}}</p>
  <p>{{form.password2.label }}</p>
<p>{{form.password2}}</p>
  <br>
  <hr>
  <button class="form-control bt">
    Create Account
  </button>
  <br>
  <p class="form-control bt">
    
    Already Member? <a href="{% url 'signin' %}" >Sign In</a>
  </p>
  
</form>
   


</div>

{% endblock %}
  